<section class="h-full my-8 w-full flex items-center justify-center">
  <div class="max-w-2xl w-2/5 p-10 bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6" action="#">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Inicia Sesión Con Tu Cuenta</h5>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingresa tu email/username</label>
            <input [(ngModel)]="login_object.username" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@domain.com" required />
        </div>
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tu Contraseña</label>
            <input [(ngModel)]="login_object.password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
        </div>
        <div class="flex items-start">
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
              No Registrado? <a routerLink="/register" class="text-blue-700 hover:underline dark:text-blue-500">Crear cuenta</a>
            </div>
            <a href="#" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Olvidaste Tu Contraseña?</a>
        </div>
        @if (procesando) {
          <button type="button" class="bg-indigo-800 w-full text-whitehover:bg-blue-800 
            focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 text-center
          dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:cursor-not-allowed duration-[500ms,800ms]" disabled>
            <div class="flex items-center justify-center"> 
                <div class="h-5 w-5 border-t-transparent border-solid animate-spin rounded-full border-white border-4"></div>
                <div class="ml-2"> Processing... </div>
            </div>
          </button>
        }
        @else {
          <button (click)="login()" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 
            focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Iniciar Session 
          </button>          
        }
    </form>
  </div>
</section>