@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #0c0c0c;
}
*{
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.panel-error{
    --mdc-snackbar-container-color: rgba(255, 0, 0, 0.748);
    --mat-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: white;
}
.panel-succes{
  --mdc-snackbar-container-color: rgba(0, 255, 26, 0.846);
  --mat-snack-bar-button-color: black;
  --mdc-snackbar-supporting-text-color: white;
}


.team-card-content{
    align-items: flex-start;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

.mat-table::ng-deep {
    background-color: white;
}